@import "basic.scss";
@import "grid";

$red: #f83e46;
$blue: #00334c;
$dark: #303d43;
$grey: #bababa;

.df {
  display: flex;
  align-items: center;

  &.s_betwen {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }
}

.hover_tr {
  opacity: 1;
  transition: opacity 180ms;

  &:hover {
    opacity: 0.5;
    transition: opacity 180ms;
  }
}

.btn_transparent {
  color: #fff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  line-height: 43px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  height: 45px;
  border-radius: 43px;
  border: 1px solid #fff;
}

.btn_color {
  color: #ffffff;
  font-family: "Proxima Nova";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.8px;
  line-height: 43px;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  height: 45px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 43px;
  background-color: $red;
  transition: background-color 180ms, color 180ms;

  &:hover {
    color: $blue;
    background-color: #ffffff;
    transition: background-color 180ms, color 180ms;
  }
}

section {
  @media all and (max-width: 1367px) {
    overflow: hidden;
  }

  &.padd {
    padding-left: 44px;
    padding-right: 44px;
  }
}

body {
  display: flex;
  flex-direction: column;
  padding-left: 70px;

  &.no_scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: 1150px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img_wrap {
  flex: none;
  overflow: hidden;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

h2 {
  color: $blue;
  font-size: 45px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 45px;
  text-align: left;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.25px;
  line-height: 27px;
  text-align: left;
}

p.text {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.left_rad_line {
  padding-left: 23px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    bottom: -5px;
    width: 3px;
    border-radius: 2px;
    background-color: $red;
    pointer-events: none;
  }
}

.bottom_rad_line {
  &:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    width: 110px;
    height: 3px;
    border-radius: 2px;
    background-color: #f83e46;
  }
}

.cropped_article {
  .text {
    margin-bottom: 20px;
    color: $dark;
  }

  h3 {
    color: $red;
    margin-bottom: 10px;
  }

  .link {
    color: $blue;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 21px;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }

  .img_wrap {
    height: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 29% 85%, 29% 100%, 0 100%);
  }

  .info {
    width: 71%;
    z-index: 2;
    padding: 20px 0 0 20px;
    margin-top: -60px;
    float: right;
  }
}

.one_article {
  border-bottom: 1px solid #fff;
  height: 155px;
  display: block;

  .date,
  .tag {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
  }

  h3 {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .text {
    color: #fff;
    max-width: 700px;
    cursor: pointer;
  }

  .link {
    display: block;
    position: absolute;
    right: 0;
    bottom: 35px;
    opacity: 0.5;
    transition: opacity 360ms, background-color 360ms;
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background: url("../img/icons/arrow.svg") no-repeat center / 12px;
    cursor: pointer;

    &:hover {
      opacity: 1;
      transition: opacity 360ms, background-color 360ms;
      background-color: $red;
    }
  }

  & + .one_article {
    margin-top: 30px;
  }
}

.line {
  display: flex;
  align-items: flex-start;

  & + .line {
    margin-top: 25px;
  }

  a {
    color: $blue;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.32px;
    display: block;

    &.tel {
      font-weight: 700;

      & + .tel {
        margin-top: 8px;
      }
    }
  }

  img {
    margin-right: 25px;

    &.phone {
      width: 18px;
    }

    &.pin {
      width: 15px;
    }

    &.mail {
      width: 19px;
    }
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    flex: none;
    line-height: 0;
  }
}

main {
  z-index: 1;
  flex: 1 1 auto;
  min-height: auto;
  background-color: #fff;

  &::before {
    pointer-events: none;
    content: "";
    width: 1300px;
    position: fixed;
    display: block;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    left: calc(50% + 35px);
    transform: translateX(-50%);
    background: url("../img/bg.png") no-repeat bottom right;

    @media all and (max-width: 1300px) {
      width: 100%;
    }
  }

  & > * {
    z-index: 1;
  }
}

menu {
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 70px;
  height: 100vh;
  box-shadow: 3px 0 9px rgba(8, 12, 25, 0.27);
  background-color: $blue;
  cursor: pointer;

  .container,
  .menu_close_bar {
    display: none;
  }

  h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    transform: rotate(90deg) translateX(50%);
  }

  &.active {
    width: 100%;
    cursor: default;

    h1 {
      display: none;
    }

    .container {
      height: 100%;
      display: block;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;

      h1 {
        display: block;
        line-height: 100vh;
        transform: rotate(0) translateX(0);
      }
    }

    .menu_close_bar {
      cursor: pointer;
      display: block;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      width: 70px;
      height: 100vh;
      border-left: 1px solid #fff;

      h1 {
        white-space: nowrap;
        display: block;
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        transform: rotate(90deg) translateX(50%);
      }
    }
  }
}

footer {
  .top_part {
    display: flex;

    .left_part {
      float: left;
      z-index: 2;
      width: 636px;
      height: 263px;
      box-shadow: 0 -3px 13px rgba(0, 0, 0, 0.07);
      background-color: #ffffff;
      padding: 50px 80px 60px 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        color: $blue;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.32px;
        line-height: 17px;
        margin-bottom: 10px;
      }
    }

    .footer_logo {
      height: 59px;
      margin-bottom: 35px;
    }

    .footer_logo_wrap {
      flex: 1 1 40%;
    }

    .footer_contacs {
      margin-left: 45px;
      flex: 1 1 50%;
    }

    .right_part {
      float: right;
      width: 742px;
      margin-top: -151px;
      z-index: 1;
      height: 414px;
      margin-left: -81px;
      box-shadow: 0 -3px 21px rgba(0, 0, 0, 0.1);
      background-color: $blue;
      padding: 100px 120px;
      text-align: center;

      h2 {
        color: #ffffff;
        font-size: 45px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 45px;
        margin-bottom: 27px;
      }

      p {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 21px;
        margin-bottom: 50px;
        display: block;
      }

      .call_contact_modal {
        width: 286px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .bottom_prat {
    box-shadow: 0 -3px 13px rgba(0, 0, 0, 0.16);
    background-color: $red;

    .top {
      padding-top: 30px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
      padding-left: 45px;
      padding-right: 45px;
      border-bottom: 1px solid #f95057;

      a {
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 1.8px;
        line-height: 18px;
        text-align: left;
        text-transform: uppercase;
      }
    }

    .bottom {
      padding-top: 20px;
      padding-bottom: 30px;
      display: flex;
      justify-content: space-between;
      padding-left: 45px;
      padding-right: 45px;

      a {
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 0.6px;

        b {
          font-weight: 700;
          letter-spacing: 1.2px;
        }

        &.voronin {
          font-weight: 400;

          span {
            display: block;
            padding-left: 35px;
          }

          img {
            vertical-align: -5px;
            display: inline-block;
            width: 17px;
            height: 19px;
            margin-right: 14px;
          }
        }
      }
    }

    .copyright {
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 0.24px;
      line-height: 17px;
    }
  }
}

.main_top {
  height: 100vh;
  padding-top: 223px;
  padding-left: 44px;

  .inserted_block {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 90px);
    height: calc(100% - 60px);
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: $blue;
    opacity: 0.59;
  }

  & > * {
    z-index: 3;
  }

  h1 {
    max-width: 780px;
    font-size: 52px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.04px;
    line-height: 52px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 38px;

    i {
      font-size: normal;
      color: $red;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      width: 109px;
      height: 3px;
      border-radius: 2px;
      background-color: $red;
    }

    &:before {
      top: -18px;
    }

    &:after {
      bottom: -18px;
    }
  }

  .subtitle {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }

  .uner_subtitle {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 55px;
  }

  .call_contact_modal {
    width: 286px;
  }

  .logo {
    width: 184px;
    position: absolute;
    top: 30px;
    right: 48px;
  }

  .watch_video {
    position: absolute;
    left: 44px;
    bottom: 35px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: left;

    &:before {
      content: "";
      display: block;
      width: 28px;
      height: 32px;
      margin-right: 14px;
      background: url("../img/icons/play.svg") no-repeat center / contain;
    }
  }

  .bottom_cards {
    position: absolute;
    bottom: 100px;
    right: 48px;

    .card {
      width: 160px;
      height: 190px;
      box-shadow: 0 0 11px rgba(0, 0, 0, 0.22);
      border-radius: 10px;
      background-color: $red;
      text-align: center;
      transition: background-color 360ms;

      svg {
        display: block;
        width: 55px;
        height: 55px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 38px;

        path {
          fill: #fff;
          transition: fill 360ms;
        }
      }

      p {
        max-width: 133px;
        margin-left: auto;
        margin-right: auto;
        color: #ffffff;
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 1.5px;
        line-height: 15px;
        text-transform: uppercase;
        transition: color 360ms;
      }

      &:hover {
        background-color: #fff;
        transition: background-color 360ms;

        p {
          color: $blue;
          transition: color 360ms;
        }

        path {
          fill: $blue;
          transition: fill 360ms;
        }
      }

      & + .card {
        margin-left: 30px;
      }
    }
  }
}

.modal_overlay {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff5e;

  .modal {
    padding: 75px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    background: url("../img/modal_bg.jpg") no-repeat center / cover;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background: $red url("../img/icons/close.svg") no-repeat center / 18px;
  }

  &.#contact_us_modal {
    h2 {
      margin-bottom: 40px;
      max-width: 250px;
    }
  }
}

#who_we_are {
  padding-top: 200px;

  .img_1 {
    z-index: 1;
    height: 390px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
  }

  .img_2 {
    z-index: 1;
    height: 320px;
    margin-top: -122px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
  }

  h2 {
    margin-top: 64px;
  }

  .counters_wrap {
    z-index: 2;
    position: absolute;
    top: -65px;
    left: 0;
    width: 534px;
    height: 198px;
    padding: 60px;
    background-color: $blue;
    margin-left: -24px;

    p {
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.8px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;

      span {
        display: block;
        color: #ffffff;
        font-size: 52px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: 1.04px;
        line-height: 52px;
        text-transform: uppercase;

        &.plus {
          &:after {
            content: "+";
            color: #ffffff;
            font-size: 35px;
            font-weight: 900;
            line-height: 26px;
            vertical-align: middle;
          }
        }

        &.tys {
          &:after {
            content: " тис";
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            vertical-align: 3px;
          }
        }
      }
    }
  }

  .text_on_red {
    margin-top: -160px;

    &::before {
      position: absolute;
      content: "";
      right: -44px;
      top: -40px;
      width: 946px;
      height: 261px;
      background-color: $red;
      z-index: 0;
    }

    p {
      color: #ffffff;
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      margin-bottom: 50px;
    }

    .call_contact_modal {
      color: #ffffff;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 1.8px;
      line-height: 21px;
      text-decoration: underline;
      text-transform: uppercase;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#our_benefits {
  padding-top: 155px;
  padding-bottom: 160px;

  .one_benefit {
    margin-bottom: 40px;
  }

  img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    align-self: flex-start;
  }

  .title {
    color: $red;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .text {
    color: $dark;
  }
}

#our_services {
  padding-top: 100px;
  padding-bottom: 150px;
  background: url("../img/our_services_bg.jpg") no-repeat center / cover;

  h2 {
    color: #ffffff;
    margin-bottom: 70px;
  }

  .num {
    align-self: baseline;
    cursor: default;
    flex: none;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: $red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.25px;
    margin-right: 15px;
  }

  h3 {
    height: 84px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }

  ul {
    list-style: none;
  }

  li {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    cursor: default;

    & + li {
      margin-top: 19px;
    }
  }

  .btn_color {
    letter-spacing: 1.8px;
    width: 286px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
  }
}

#for_owners {
  .for_owners_inner {
    padding-left: 44px;
  }

  h2 {
    margin-top: 100px;
    margin-bottom: 24px;
    max-width: 400px;
  }

  .text {
    max-width: 475px;
    margin-bottom: 30px;
    color: $dark;
  }

  .img_wrap {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .know_more {
    color: $red;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1.8px;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 50px;
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }

  .btn_color {
    width: 286px;
  }
}

#privet_cabinet {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url("../img/cabinte_call_bg.jpg") no-repeat center / cover;

  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }

  .text {
    color: #ffffff;
    text-align: center;
    margin-bottom: 50px;
  }

  .btn_color {
    width: 286px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .call_sorry:not(.btn_color) {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.8px;
    line-height: 21px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }
}

#clients_call {
  padding-top: 200px;
  padding-left: 44px;

  h2 {
    height: auto;
    margin-bottom: 24px;
  }

  .text {
    color: $dark;
    margin-bottom: 50px;
  }

  .nav_warp {
  }
}

#actions {
  padding-top: 200px;
  padding-bottom: 200px;

  h2 {
    margin-bottom: 54px;
  }

  .btn_transparent {
    display: block;
    width: 286px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    color: $red;
    border: 1px solid $red;
  }
}

#blog {
  padding-top: 100px;
  padding-bottom: 150px;
  background-color: $blue;

  h2 {
    color: #fff;
  }

  .btn_transparent {
    display: block;
    width: 286px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
  }
}

#contacts {
  #map {
    height: 808px;
    background: url("../img/map_bg.jpg") no-repeat center / cover;
  }

  h2 {
    margin-top: 150px;
    margin-bottom: 60px;
  }

  p {
    color: $blue;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .socials {
    width: 275px;
  }

  .line + .line {
    margin-top: 32px;
  }
}
